<!--Section: About-->
<section id="about" class="section features-5">

  <!--First row-->
  <div class="row mt-2">

    <!--First column-->
    <div class="col-lg-5 col-md-12 mb-2 center-on-small-only fadeIn">
    </div>
    <!--/First column-->

    <!--Second column-->
    <div class="col-lg-7 col-md-12 center-on-small fadeIn">
    </div>
    <!--/Second column-->
  </div>
  <!--/First row-->

</section>
<!--/Section: About-->

<hr class="between-sections">

<!--Section: Live Demo-->
<section class="section features-5">

  <!--First row-->
  <div class="row">

    <!--First column-->
    <div class="col-lg-7 col-md-12 center-on-small mb-2 smooth-scroll">
    </div>
    <!--/First column-->

    <!--Second column-->
    <div class="col-lg-4 col-md-12 offset-lg-1 center-on-small-only fadeIn">
    </div>
    <!--/Second column-->

  </div>
  <!--/First row-->

</section>
<!--/Section: Live Demo-->
