<footer class="row text-white grey darken-2 mt-4 p-4 justify-content-start">
	<div class="container">
		<div class="row text-center">
			<div class="col-12 col-sm-6 col-lg-3 py-4">
				<p>
					<img src="/assets/img/e-icon-white.png" class="img-responsive" style="max-width: 50px;" />
				</p>
				<p>
					Enhanced Society<br />
					5/2 Philippine Parade<br />
					Palm Beach QLD 4221<br />
					Australia
				</p>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 py-4">
				<h5 class="h5-responsive">Connect</h5>
				<a href="https://t.me/enhancedsociety" target="_blank">
					<i class="fab fa-telegram fa-3x py-3 px-2 white-text"></i>
				</a>
				<a href="https://github.com/enhancedsociety/" target="_blank">
					<i class="fab fa-github fa-3x py-3 px-2 white-text"></i>
				</a><br/>
				<a href="https://medium.com/enhanced-society" class="white-text">
					Blog
				</a>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 py-4">
				<h5 class="h5-responsive">Smart Equity</h5>
				<ul class="list list-unstyled">
					<li>
						<a href="/smart-equity" class="white-text">More Info</a>
					</li>
					<li>
						<a href="/signup" class="white-text">Sign Up</a>
					</li>
				</ul>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 py-4">
				<h5 class="h5-responsive">Legal</h5>
				<ul class="list list-unstyled">
					<li>
						<a href="/privacy" class="white-text">Privacy</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row py-4">
			<div class="col text-center">
				&copy; 2018 Enhanced Society
			</div>
		</div>
</footer>
