<!--Footer-->
<footer class="page-footer center-on-small-only" id="footer">

  <!--Section: Contact-->
  <section id="contact">
  </section>
  <!--Section: Contact-->
<!--Footer Links-->
<div class="container-fluid">

  <!--Second row-->
  <div class="row mt-2 mb-1 text-center fadeIn">

    <!--First column-->
    <div class="col-xl-3 offset-xl-2 col-md-4">

      <!--Title-->
      <h5 class="title">Something:</h5>

    </div>
    <!--/First column-->

    <hr class="w-100 hidden-md-up">

    <!--Second column-->
    <div class="col-xl-2 col-md-4">


    </div>
    <!--/Second column-->

    <hr class="w-100 hidden-md-up">

    <!--Third column-->
    <div class="col-xl-2 col-md-4">



    </div>
    <!--/Third column-->

  </div>
  <!--/Second row-->

</div>
<!--/Footer Links-->

<!--Copyright-->
<div class="footer-copyright fadeIn">
  <div class="container-fluid">
  </div>
</div>
<!--/Copyright-->

</footer>
<!--/Footer-->
