<header class="row" style="background: url({{ site.url }}/assets/img/{{ include.image | default: "home-banner.jpg" }}); {% if include.cover %}background-size: cover;{% endif %} height: {{ include.height | default: "1000" }}px;">
	<div class="col-12">
		<a href="/" class="logo"><img src="{{ site.url }}/assets/img/logo.svg" /></a>
	</div>
	{% comment %}
	<div class="col mr-auto text-right">
		{% include nav.html %}
	</div>
	{% endcomment %}
	<div class="container text-center text-white">
		<h1>
			{{ include.title }}
			{% if include.subtitle %}
				<small class="mt-3">{{ include.subtitle }}</small>
			{% endif %}
		</h1>
		<hr />
		{% if include.excerpt %}
			<p>
				{{ include.excerpt }}
			</p>
		{% endif %}
	</div>
</header>