<nav class="navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#es-menu" aria-controls="es-menu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon text-white">MENU</span>
    </button>
	<div class="collapse navbar-collapse" id="es-menu">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a href="#" class="nav-link text-white">Platform</a></li>
			<li class="nav-item"><a href="#" class="nav-link text-white">Community Hub</a></li>
			<li class="nav-item"><a href="#" class="nav-link text-white">About</a></li>
			{% comment %}<li class="nav-item"><a href="#" class="nav-link text-white">Contact</a></li>{% endcomment %}
		</ul>
	</div>
</nav>