
<!--Navigation & Intro-->
<header id="header">

  <!--Navbar-->
  <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar">

    <div class="container">


      <a class="navbar-brand" href="/">
      </a>

      <div class="collapse navbar-collapse" id="navbarNav">

        <!--Links-->
        <ul class="navbar-nav mr-auto smooth-scroll">
        </ul>

        <!--Social Icons-->
        <ul class="navbar-nav nav-flex-icons">
        </ul>

      </div>
    </div>
  </nav>
  <!--/Navbar-->

</header>
<!--/Navigation & Intro-->
