<header class="row" style="background: url(/assets/img/{{ page.header_image | default: "home-banner.jpg" }}); background-size: cover; height: {{ page.header_height | default: "150" }}px;">
	<div class="container-fluid">
		<div class="row navbar-expand-md">
			<div class="col-8 col-md-6 p-4">
				<a href="/" class="logo"><img src="/assets/img/{{ page.logo_src | default: 'es-web-logo.png' }}" class="img-fluid" /></a>
			</div>
			<div class="col-4 col-md-6 text-right pr-4 mt-3 py-4">
			    <button class="navbar-toggler mr-auto black-text" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars fa-1x"></i></button>
				<div class="collapse navbar-collapse" id="navigation">
					<ul class="navbar-nav ml-auto pb-5 text-left">
						<li class="nav-item">
							<a href="www.enhancedsociety.com" class="nav-link black-text mr-4">Home</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% if page.header_title %}
		<div class="container text-center text-normal" style="margin-top: -50px">
			<h1 class="h1-responsive">
				{{ page.header_title }}
				{% if page.header_subtitle %}
					<small class="mt-3">{{ page.header_subtitle }}</small>
				{% endif %}
			</h1>
			
			<a href="https://www.getdrip.com/forms/507953393/submissions/new" class="btn btn-lg btn-defalt py-4 px-5 waves-effect waves-light">Sign Up</a>
			
			<hr />
			{% if page.header_excerpt %}
				<p>
					{{ page.header_excerpt }}
				</p>
			{% endif %}

		</div>
	{% endif %}
</header>
