body {
  color: #39575f;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  /*font-weight: 300;*/
  line-height: 1.556em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2em;
  font-weight: 200 !important;
}
h2 {
  font-size: 2.8rem;
  font-weight: 300;
}

header {
  background-position: center bottom;
  font-size: 133%;
}
header h1 > small {
  display: block;
  font-size: 50%;
  line-height: 1.5em;
  font-weight: 300;
}
header hr {
  width: 15%;
  margin: 20px auto;
  border-color: #30BDA5;
  border-width: 3px;
}

.logo img {
  width: 100%;
  max-width: 263px;
}

.highlight {
  color: #31bebf;
}
