<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ page.title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/mdb.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
   	{% comment %} Google Tag Manager {% endcomment %}
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-M4P9XLQ');</script>
	{% comment %} End Google Tag Manager {% endcomment %}
</head>
<body>
	{% comment %} Google Tag Manager {% endcomment %}
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4P9XLQ"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	{% comment %} End Google Tag Manager {% endcomment %}
	<div class="container-fluid">
		{% include no-nav-header.html %}
		{{ content }}
		{% include footer.html %}
	</div>
    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/mdb.min.js"></script>
    {% comment %} ZOHO CHAT {% endcomment %}
    <script type="text/javascript">
	var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || 
	{widgetcode:"bf714a8ecf23cb02ce162488fca2ad2f17563a970e136cdb800b81d4c2652480ee6585f49bdd95b88ea99b206b2d32fd", values:{},ready:function(){}};
	var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;
	s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");
	</script>
	{% comment %} END ZOHO CHAT {% endcomment %}
	{% comment %} GLEAM {% endcomment %}
	<script type="text/javascript">(function(d, t){
        if(window.location.hash!='#gleam'&&(''+document.cookie).match(/(^|;)\s*Gleam89eqm=X($|;)/)){return;}
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = "https://js.gleam.io/89eqm/ol.js"; s.parentNode.insertBefore(g, s);
    }(document, "script"));</script>
	{% comment %} END GLEAM {% endcomment %}
</body>
</html>
